#include <windows.h>
#include "../about.h"

// PROGRAM METADATA (prevent IA antivius)

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L  // Windows NT / 32 bits
FILETYPE        0x1L      // (.exe)
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040a04b0"  // Meta data language (spanish)
        BEGIN
            VALUE "CompanyName",      "MS Proys\0"
            VALUE "FileDescription",  "Scryvano is a lightweight writing editor focused on plain text.\0"
            VALUE "FileVersion",      "0.1.0.0\0"
            VALUE "InternalName",     "scryvano\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026\0"
            VALUE "OriginalFilename", "scryvano.exe\0"
            VALUE "ProductName",      "Scryvano\0"
            VALUE "ProductVersion",   "0.1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40a, 1200
    END
END

// PROGRAM METADATA (prevent IA antivius)

IDB_LOGO BITMAP "../../images/logo.bmp"

#include "about.DLG"
